<!-- YC Demo -->
<img src="/assets/images/yc-demo.png" id="yc-demo">

<div id="content">

  <!-- Heading -->
  <img src="/assets/images/heading.png" id="heading">

  <h3>A Social Network for the <strong>News</strong></h3>

  <!-- Message -->
  <p>These are screenshots from our iOS Alpha built in December. We're launching our redesigned, refined iOS Beta in April.</p>

  <!-- Phone -->
  <div class="container" id="phone">
    <div class="device-shadow">
      <div class="device-border">
        <div class="device-left-btn1"></div>
        <div class="device-left-btn2"></div>
        <div class="device-left-btn3"></div>
        <div class="device-body">
          <div class="device-camera"></div>
          <div class="device-sensors"></div>
          <div class="device-screen"></div>
          <div class="device-home"></div>
        </div>
        <div class="device-right-btn"></div>
      </div>
    </div>
  </div>

</div>
<script>
  $(function() {

      var slide = 1;
      var slideLast = 12;
      var $body = $("body");

      setInterval(function() {
          if (slide == slideLast) slide = 0;

          slide++;

          $body.find(".device-screen").attr("class", "device-screen slide-"+slide);

      },5000);
  })
</script>
