@font-face {
  font-family: "Riffic",sans-serif;
  src: url("/assets/fonts/riffic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html, body {
  overflow: hidden; }
  @media (max-width: 640px), (max-height: 770px) {
    html, body {
      overflow-y: auto; } }

#yc-demo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 10rem;
  transition: opacity 0.3s ease; }
  @media (max-width: 640px) {
    #yc-demo {
      opacity: 0; } }

#content {
  transform: scale(0.8, 0.8);
  margin-top: -6rem; }
  @media (max-width: 640px) {
    #content {
      transform: scale(0.7, 0.7);
      margin-top: -9rem; } }
  #content h3 {
    font-size: 1.8rem;
    font-family: "Riffic",sans-serif;
    letter-spacing: 0.1rem;
    margin: 1rem auto 0.5rem auto;
    text-align: center; }
    @media (max-width: 640px) {
      #content h3 {
        font-size: 1.1rem; } }
    #content h3 strong {
      color: #FF0C0C; }
  #content p {
    text-align: center;
    color: #FF0C0C;
    font-size: 1rem;
    font-family: "Riffic",sans-serif;
    letter-spacing: 0.1rem;
    max-width: 38rem;
    margin: 0 auto 1.5rem auto;
    line-height: 1.8rem;
    color: #FF3D3D; }
    @media (max-width: 640px) {
      #content p {
        font-size: 0.9rem; } }

#heading {
  display: block;
  width: 8rem;
  margin: 2rem auto 1rem auto; }

#phone {
  margin: 0 auto 2rem auto;
  text-align: center; }

.device-border {
  margin: 0 auto;
  width: 336px;
  position: relative;
  background-color: #fff;
  height: 698px;
  border-radius: 55px;
  border: 0px solid #b9b7b6;
  -webkit-box-shadow: inset 0px 0px 17px -1px #7b7979;
  -moz-box-shadow: inset 0px 0px 17px -1px #7b7979;
  box-shadow: inset 0px 0px 17px -1px #7b7979; }

.device-body {
  margin: 0 auto;
  width: 324px;
  background-color: #fff;
  height: 684px;
  position: relative;
  top: 7px;
  border-radius: 51px;
  border: 0px solid #fff; }

.device-screen {
  margin: 0 auto;
  width: 290px;
  background-color: #f4f4f4;
  height: 530px;
  position: relative;
  top: 71px;
  border-radius: 4px;
  border: 3px solid #272626;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/images/phone-screens.png);
  background-position-x: 0;
  transition: background-position-x ease 0.5s; }
  .device-screen.slide-1 {
    background-position-x: 0; }
  .device-screen.slide-2 {
    background-position-x: -300px; }
  .device-screen.slide-3 {
    background-position-x: -600px; }
  .device-screen.slide-4 {
    background-position-x: -900px; }
  .device-screen.slide-5 {
    background-position-x: -1200px; }
  .device-screen.slide-6 {
    background-position-x: -1500px; }
  .device-screen.slide-7 {
    background-position-x: -1800px; }
  .device-screen.slide-8 {
    background-position-x: -2125px; }
  .device-screen.slide-9 {
    background-position-x: -2435px; }
  .device-screen.slide-10 {
    background-position-x: -2743px; }
  .device-screen.slide-11 {
    background-position-x: -3050px; }
  .device-screen.slide-12 {
    background-position-x: -3346px; }

.device-body:before {
  height: 4px;
  content: "";
  display: block;
  position: relative;
  top: 45px;
  width: 324px;
  left: -6px;
  border: 1px solid #c7c0c0;
  border-width: 0 6px; }

.device-body:after {
  height: 4px;
  content: "";
  display: block;
  position: relative;
  bottom: -95px;
  width: 324px;
  left: -6px;
  border: 1px solid #c7c0c0;
  border-width: 0 6px; }

.device-camera {
  background-color: #565353;
  height: 7px;
  width: 7.5px;
  margin: 0 auto;
  position: absolute;
  top: 18px;
  border-radius: 50%;
  left: 49.3%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.device-sensors:before {
  content: "";
  display: block;
  background-color: #565353;
  height: 10px;
  width: 10px;
  margin: 0 auto;
  position: absolute;
  top: 34.6px;
  border-radius: 7px;
  left: 33%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.device-sensors:after {
  content: "";
  display: block;
  background-color: #565353;
  height: 5px;
  width: 60px;
  margin: 0 auto;
  position: absolute;
  top: 37px;
  border-radius: 7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.device-home {
  background-color: transparent;
  height: 47px;
  width: 47px;
  margin: 0 auto;
  position: absolute;
  bottom: 12px;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 2px solid rgba(86, 83, 83, 0.6); }

.device-left-btn1 {
  background-color: #bdbbbb;
  height: 23px;
  width: 3px;
  margin: 0 auto;
  position: absolute;
  top: 80px;
  border-radius: 20%;
  left: -2px; }

.device-left-btn2 {
  background-color: #bdbbbb;
  height: 35px;
  width: 3px;
  margin: 0 auto;
  position: absolute;
  top: 125px;
  border-radius: 20%;
  left: -2px; }

.device-left-btn3 {
  background-color: #bdbbbb;
  height: 35px;
  width: 3px;
  margin: 0 auto;
  position: absolute;
  top: 170px;
  border-radius: 20%;
  left: -2px; }

.device-right-btn {
  background-color: #bdbbbb;
  height: 45px;
  width: 3px;
  margin: 0 auto;
  position: absolute;
  top: 125px;
  border-radius: 20%;
  right: -2px; }

.device-shadow {
  -webkit-box-shadow: 0px 9px 55px -15px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 9px 55px -15px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 9px 55px -15px rgba(0, 0, 0, 0.45);
  border-radius: 61px;
  margin: 0 auto;
  display: inline-block; }
